.btn {
    margin: 10px 0 0 auto;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: hsl(228, 12%, 33%);
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: hsl(231, 14%, 21%);
    }
}